<% provide(:title, 'About Us') %> <!--tab title-->

<br>
<h1>Our Company</h1>
<hr>
<br>

<h2>We’ve been selling mobile phones for 20 years, and like to think we know a thing or two about it. Our customers seem to agree, having rated us 5 STARS on Trustpilot.</h2>

<h2>We’ve had plenty of amazing feedback for all sorts of reasons, like our affordable prices on smartphones, SIM only deals and mobile phone finance. But also, how quick and easy it is to order a new phone from us. Not to mention our free delivery.</h2>

<h2>But you don’t have to take our word for it.</h2> 

<h2>See for yourself.</h2>

