<% provide(:title, 'Home') %> <!--tab title-->
<script type="text/javascript" src="myscript.js"></script> <!--Link to the JS file for the pop-up message-->
<div class="mainCont">
<h1>Save up to 50% off new phones!</h1>
<h3>Limited time only. While supplies last.</h3>
</div>
